<mat-card class=profile-background-color>
    <mat-action-list>
       <div class="subHeader center" >
        <button mat-list-item>
            MENU
           </button>
       </div>
       <button mat-list-item routerLink="/admin/">
        <mat-icon>home</mat-icon>  HOME
       </button> 
          
     <button mat-list-item routerLink="/admin/profile">
          <mat-icon>face</mat-icon>  Profile
      </button>  

      <button mat-list-item routerLink="/admin/category">
        <mat-icon>menu</mat-icon>  Categories
    </button> 
    <button mat-list-item routerLink="/admin/addcategory">
        <mat-icon>add</mat-icon>Categories
    </button> 
    <button mat-list-item routerLink="/admin/viewQuizes">
        <mat-icon>quiz</mat-icon>  Quizes
    </button> 
    <button mat-list-item routerLink="/admin/addquiz">
        <mat-icon>add</mat-icon>  Quizes
    </button>
    <button mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon> 
    </button>
    </mat-action-list>
</mat-card>